<!-- Incluimos los Modales -->
<ng-include src=" 'app/template/modales/crudUsuario.html' " ></ng-include>

<!-- Modal de Registro de Usuarios -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="nuevoUsuario" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="alert alert-success" ng-show="alerta">
                        <center>Usuario Registrado</center>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nomUsuario" ng-trim="true" ng-pattern="{{modeloSoloLetras}}"  ng-model="dataRegistrarUsuario.nomUsuario" placeholder="Alias*">
                        <p ng-show="dataRegistrarUsuario.nomUsuario == null" class="parrafoError">
                            <i class="glyphicon glyphicon-exclamation-sign iconoError"></i>el dato digitado no es válido
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="contrasena" ng-model="dataRegistrarUsuario.contrasena" placeholder="Contraseña*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" ng-trim="true" ng-pattern="{{modeloSoloLetras}}" ng-model="dataRegistrarUsuario.nombre" placeholder="Nombre Completo*">
                        <p ng-show="dataRegistrarUsuario.nombre == null" class="parrafoError">
                            <i class="glyphicon glyphicon-exclamation-sign iconoError"></i>el dato digitado no es válido
                        </p>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="dataRegistrarUsuario.rol">
                            <option value="Usuario">Usuario</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <button ng-click="procesarRegistroUsuario()" type="button" class="btn btn-primary btn-block btn-sm">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="divHeader">
    <h1 class="titulo">Inventory<span><i class="glyphicon glyphicon-user iconoUser img-circle" ng-click="showDetail(0)"></i></span></h1>
</div>
<div class="row" ng-show="show[0]" style="margin: 0px;">
    <div class="col-lg-offset-9 col-lg-3 col-md-offset-8 col-md-4 col-xs-12 divOculto">
        <div class="page-header">
            <center><h3>Perfil de Usuario</h3></center>
        </div>
        <div class="panel-body">
            <h4>{{nombreUsuario}}</h4>
            <a href="#!/logout"><button class="btn btn-block btn-xs">Cerrar Sesion</button></a>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <a class="glyphicon glyphicon-menu-left icono" href="#!/inicio"></a><center><h1>CONFIGURACION DE USUARIOS</h1></center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><img class="imgAgregarArt img-circle" src="img/agregarUsu.png" data-toggle="modal" data-target="#nuevoUsuario"> Agregar Un Nuevo Usuario</h4>
        </div>
        <div class="col-lg-8">
            <div class="alert alert-success" ng-show="alerta">
                <center>Usuario Eliminado correctamente</center>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline navbar-form navbar-left">
                <div class="form-group formulario">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default botonBuscar">Buscar</button>
            </form>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Alias de Usuario</th>
                        <th>Nombre de usuario</th>
                        <th>Rol</th>
                        <th><center>Acciones</center></th>
                    </tr>
                    <tr ng-repeat="usuario in usuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.usuario}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>
                    <center>
                        <i ng-click="editar(usuario)" class="glyphicon glyphicon-pencil" style="margin-right:5px"></i>
                        <i ng-click="eliminar(usuario)" class="glyphicon glyphicon-trash"></i>
                    </center>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>